.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 80vh;
    position:relative;
}

.bannerText {
    color: rgb(203, 31, 94);
    position: relative;
    top: 220px;
    z-index: 20;
    text-align: center;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}